html {
  /*background: #111111*/;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url(https://assets.nflxext.com/ffe/siteui/vlv3/a1dc92ca-091d-4ca9-a05b-8cd44bbfce6a/f9368347-e982-4856-a5a4-396796381f28/RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

button {
  border: none;
  padding: 10px 20px;
  background: #ff2d2d;
  opacity: 0.85;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #b40404;
}

.logo {
  width: 100px;
}
